<div class="container">
    <div class="row">
        <h1 class="page-header text-danger">Sign in </h1>
    </div>
    
    <div class="row">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row">
            <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, placeholder: "email", class: "form-control" %><br/><br />
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">
            <%= f.label :password %><br />
            <%= f.password_field :password, autofocus: false, placeholder: "password", class: "form-control" %><br/>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="row">
            <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %><br/><br/>
            </div>
          </div>
          <% end -%>

          <div class="row">
            <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">
            <%= f.submit "Log in", class: "btn btn-info btn-block" %>
          </div>
          </div>
        <% end %>
        <br>
        <br>
        <br>
        
    </div>
    <div class="row">
        <%= render "users/shared/links" %>
    </div>
    <div class="row" style="height: 300px;"></div>
</div>
