<%= form_with(model: [@room, @booking], local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row py-4">
    <div class="col-xs-12 col-sm-12 d-md-none d-block py-2">
      <%= form.label :arrive %>
      <%= form.text_field :checkin_day, class: "form-control form-control-lg datepicker", id: "checkin_date", value: "#{ Date.today }" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 d-md-none d-block">
      <%= form.label :checkout %>
      <%= form.text_field :checkout_day, class: "form-control form-control-lg datepicker",id: "checkout_date", value: "#{Date.tomorrow}" %>
    </div>
  </div>
  
  <div class="row">
      <div class="col-xs-5 col-sm-6 d-none d-md-block">
            <%= form.label :arrive %>
            <%= form.text_field :checkin_day, class: "form-control datepicker", id: "checkin_date", value: "#{ Date.today }" %>
              <br/>
      </div>
      <div class="col-xs-5 col-sm-6 d-none d-md-block">
            <%= form.label :check_out %>
            <%= form.text_field :checkout_day, class: "form-control datepicker",id: "checkout_date", value: "#{Date.tomorrow}" %>
            <br>
      </div>
  </div>

<% if @room.room_type == "accommodation"%>
  <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <%= form.label :adults %>
        <%= form.number_field :adults, class: "form-control form-control-lg",value: 1, required: true %>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <%= form.label :children %>
        <%= form.number_field :children, class: "form-control form-control-lg",value: 0, required: true %>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
        <%= form.label :number_of_rooms %>
        <%= form.number_field :number_of_rooms, class: "form-control form-control-lg", value: 1, required: true %>
      </div>
  </div>
<% end %>
  <div class="py-4 text-center">
    <%= form.submit "Reserve", class: "btn btn-primary btn-block" %>
    <p class="text-muted py-4">
      You won't be charged yet, call us within 24hrs to arrange payment.
    </p>
  </div>
<% end %>
<script>
$(function() {
    var check_in = $('#checkin_date').val();

    $('#checkin_date').datepicker({
        dateFormat: "dd-mm-yy",
        minDate: 0,

        onSelect: function(){
            var dat = document.getElementById('checkin_date');
            var selected = $(this).val();
            check_in = selected;
        }
    });

    $('#checkout_date').datepicker({
        dateFormat: "dd-mm-yy",
        minDate: check_in,

        onSelect: function(){
            var dat = document.getElementById('checkin_date');
            var selected = $(this).val();
        }
    });
});
</script>
