<%= form_with(model: [@room, @booking], local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-md-4 col-lg-4">
            <%= form.label :arrive %>
            <%= form.text_field :checkin_day, class: "form-control datepicker", id: "checkin_date", value: "#{ Date.today }" %>
      </div>
      <div class="col-md-4 col-lg-4">
            <%= form.label :check_out %>
            <%= form.text_field :checkout_day, class: "form-control datepicker",id: "checkout_date", value: "#{Date.tomorrow}" %>
            <br>
            <br>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= form.label :adults %>
        <%= form.select :adults, options_for_select([0, 1, 2, 3,4]), {}, class: "form-control" %>
      </div>
      <div class="col-md-4 col-lg-4">
        <%= form.label :children %>
        <%= form.select :children, options_for_select([0,1,2,3,4,5]), {}, class: "form-control" %>
      </div>
  </div>

        <br>
        <br>
        <br>

  <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= form.submit "Create Booking", class: "btn btn-success btn-lg" %>
      </div>
  </div>
<% end %>
<script>
$(function() {
    var check_in = $('#checkin_date').val();

    $('#checkin_date').datepicker({
        dateFormat: "dd-mm-yy",
        minDate: 0,

        onSelect: function(){
            var dat = document.getElementById('checkin_date');
            var selected = $(this).val();
            check_in = selected;
        }
    });

    $('#checkout_date').datepicker({
        dateFormat: "dd-mm-yy",
        minDate: check_in,

        onSelect: function(){
            var dat = document.getElementById('checkin_date');
            var selected = $(this).val();
        }
    });
});
</script>
