<%= form_with(model: [@room, @booking], local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-md-4 col-lg-4">
            <%= form.label :arrive %>
            <%= form.number_field :checkin_day, class: "form-control datepicker" %>
      </div>
      <div class="col-md-4 col-lg-4">
            <%= form.label :check_out %>
            <%= form.number_field :checkout_day, class: "form-control datepicker" %>
            <br>
            <br>
            
      </div>
  </div>

  <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= form.label :adults %>
        <%= form.select :adults, options_for_select(["0", "1 Adult"]), {}, class: "form-control" %>
      </div>
      <div class="col-md-4 col-lg-4">
        <%= form.label :children %>
        <%= form.select :children, options_for_select(["0", "1 between 0-5"]), {}, class: "form-control" %>
        <br>
        <br>
        <br>
        
      </div>
  </div>


  <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= form.submit "Create Booking", class: "btn btn-success btn-lg" %>
      </div>
  </div>
<% end %>
<script>
$(function() {
      $('.datepicker').datepicker();
});
</script>
