<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
        <%= form.text_field :name, class: "form-control", placeholder: "event name" %>
        <br>
        <br>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
        <%= form.text_area :description, class: "form-control", placeholder: "event details", rows: 10 %>
        <br/><br/>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
        <%= form.text_field :event_date, class: "form-control datepicker", placeholder: "date of event" %>
        <br/><br/>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
        <%= form.text_field :event_time, class: "form-control datepicker", placeholder: "time of event" %>
        <br/><br/>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
            <%= form.label :upload_images %> 
      </div>
  </div>
  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
            <%= form.file_field :images, multiple: true %> 
        <br/><br/>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
            <%= form.submit "Create Event", class: "btn btn-success btn-block" %>
      </div>
  </div>
<% end %>
