<div class="container">
  <div class="text-center py-5">
      <h2 class="text-warning">Upcoming Events</h2>  
  </div>
  <div class="text-center py-5">
    <h2 class="text-warning"><%= pluralize(@events.count, 'Upcoming Event')%></h2>
    <hr/>
    <div class="card-deck">
      <% @events.each do |event| %>
        <div class="card">
          <%= image_tag("sax_event.jpeg", class: "media-object", alt: "", height: 150)%>
          <div class="card-body">
            <h4 class="card-title"><%= event.name %></h4>
            <p class="card-text text-muted"><%= event.description %></p>
            <strong>when: </strong>
            <p class="text-info card-text"><%= event.event_date %>, at <%= event.event_time %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
