<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :room_name %>
    <%= form.text_field :room_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :amenities %>
    <%= form.text_area :amenities %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.number_field :booking_id %>
  </div>

  <div class="field">
    <%= form.label :check_in %>
    <%= form.text_field :check_in %>
  </div>

  <div class="field">
    <%= form.label :check_out %>
    <%= form.text_field :check_out %>
  </div>

  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
            <%= form.file_field :images, multiple: true %> 
      </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
