<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-8 col-sm-6 col-md-4 col-lg-6">
                <%= form.label :room_name %> 
                <%= form.text_field :room_name, class: "form-control", placeholder: "room name" %>
                <br>
                <br>
              </div>
          </div>
      
          <div class="row">
              <div class="col-xs-8 col-sm-6 col-md-4 col-lg-6">
                <%= form.label :room_description %> 
                <%= form.text_area :description, class: "form-control", placeholder: "more details", rows: 15 %>
                <br>
                <br>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                <%= form.label :price %>
                <%= form.text_field :price, class: "form-control", placeholder: "price for room" %>
                <br>
                <br>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">

          <div class="row">
              <div class="col-xs-8 col-sm-6 col-md-4 col-lg-6">
                <%= form.label :amenities %> 
                <%= form.text_area :amenities, class: "form-control", placeholder: "list amenities", rows: 15 %>
                <br>
                <br>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-6">
                    <%= form.label :allowed_checkin_time %> 
                <%= form.text_field :check_in, class: "form-control datepicker" %>
                <br><br>
              </div>
          </div>

  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-6">
            <%= form.label :allowed_checkout_time %> 
        <%= form.text_field :check_out, class: "form-control datepicker" %>
        <br><br>
      </div>
  </div>

      
      </div>
  
  </div>




  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
            <%= form.label :upload_images %> 
      </div>
  </div>

  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
            <%= form.file_field :images, multiple: true %> 
        <br/><br/>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
        <%= form.submit "Create Room", class: "btn btn-success btn-block" %>
      </div>
  </div>
<% end %>
