<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <h1 class="page-header">Book a room</h1>
    </div>
    <div class="row">
        <h3 class="text-muted">Filter</h3>
        <%= form_tag rooms_path, :method => 'get',class: "form-inline pull-left input-group-lg", :local => 'true' do%>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search..." %>    
            <%= text_field_tag :from_date, params[:from_date], class: "form-control datepicker", placeholder: "search..." %>    
            <%= submit_tag "search", class: "btn btn-default btn-lg" %>
 <br>
<br>
<br>
<br>

       <% end %>
    </div>
    
    <div class="row">
        <% @rooms.each do |room| %>
            <div class="col-sm-4 col-md-4 col-lg-3">
                <% if room.images.attached? %>
                <%= image_tag(room.images.last, class: "img-thumbnail")%>
                <% end %>
                <%= link_to room.room_name, room %>
            <%= room.description %>
            <%= room.amenities %>
            <%= room.price %>
            <%= room.booking_id %>
            <%= room.check_in %>
            <%= room.check_out %>
            <% if user_signed_in? && current_user.admin? %>
                <%= link_to 'Edit', edit_room_path(room) %>
                <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
        <% end %>
    </div>

<%= link_to 'New Room', new_room_path %>
<div class="row" style="height: 300px;"></div>
</div>
<script>
 $(function() {
       $('.datepicker').datepicker();
 });
</script>
