<div class="container">
  <div class="text-center py-5">
    <h2 class="text-warning">Book one of our rooms</h2>
  </div>

  <h4 class="py-2">Standard Rooms</h4>
  <div class="card-deck py-2">
    <% @rooms.each do |room| %>
      <div class="card">
        <div class="card-body">
          <p class="text-muted py-4"><%= room.description %></p>

          <h6 class="card-title text-muted">Amenities</h6>
          <hr/>
          <ul class="list-group pb-4">
            <% room.amenities.split(",").each do |am| %>
                <li class="nav-link disabled"><%= am %></li>
            <% end %>
          </ul>
          <h6 class="card-title text-muted">Check-in Times</h6>  
          <hr/>
          <p class="card-text text-muted">
            Anytime after <%= room.check_in %>
          </p>
          <%= link_to "Book Room", room, class: "btn btn-danger btn-block" %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to "Add Pictures", edit_room_path(room), class: "btn btn-warning btn-lg"%>
          <% end %>
        </div>
      </div>
      <div class="row py-4">
      <% if room.images.attached? %>
          <% room.images.each do |img|%>
              <p><%= image_tag(img, class: "img-thumbnail", height: 450, width: 350)%></p>
          <% end %>
      <% end %>
      </div>
    <% end %>
  </div>


    <% if user_signed_in? && current_user.admin? %>
        <div class="row">
            <%= link_to "Add new room", new_room_path, class: "btn btn-info btn-lg"%>
        </div>
    <% end %>
</div>

<script>
 $(function() {
       $('.datepicker').datepicker();
 });
</script>
