<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="wrapper-row">
            <h1 class="rooms-header">Book one of our rooms</h1>
        </div>
            <br /><br />
    </div>
    <% if user_signed_in? && current_user.admin? %>
        <div class="row">
            <%= link_to "Add new room", new_room_path, class: "btn btn-info btn-lg"%>
        </div>
    <% end %>
    <div class="row">
            <br /><br />
            <h1 class="page-header">Standard Rooms</h1>
        <% @rooms.each do |room| %>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <p class="lead pull-left"><%= room.description %></p>
                </div>
                <div class="row">
                    <h3 class="page-header text-muted">Amenities</h3>
                    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
                        <ul class="list-group">
                            <% room.amenities.split(",").each do |am| %>
                                <li class=""><%= am %></li><br>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3 class="page-header text-muted">Check-in Times</h3>  
                    <p class="lead">Anytime after <%= room.check_in %></p>
                </div>
                <div class="row">
                    <%= link_to "Book Room", room, class: "btn btn-danger btn-lg" %>
                    <% if user_signed_in? && current_user.admin? %>
                        <%= link_to "Add Pictures", edit_room_path(room), class: "btn btn-warning btn-lg"%>
                    <% end %>
                </div>
                <div class="row">
                <% if room.images.attached? %>
                    <% room.images.each do |img|%>
                        <p><%= image_tag(img, class: "img-thumbnail", height: 450, width: 350)%></p>
                    <% end %>
                <% end %>
                </div>
            </div>
        <% end %>
    </div>

<div class="row" style="height: 300px;"></div>
</div>
<script>
 $(function() {
       $('.datepicker').datepicker();
 });
</script>
