<div class="container">
    <div class="row">
        <h1 class="page-header"><%= @room.room_name %></h1>
    </div>
    <div class="row">
            <% @room.images.each do |img|%>
        <div class="col-md-5 room-showcase">
                <%= image_tag(img, class: "img-show")%><br />
        
        </div>
            <% end %>
    </div>
    <div class="row">
        <h2 class="page-header text-muted">Room Details</h2>
        <p class="lead">
          <strong>Room name:</strong>
          <%= @room.room_name %>
        </p>

        <p class="lead">
          <%= @room.description %>
        </p>
    </div>

    <div class="row">
        <h2 class="page-header">Amenities</h2>
            <p class="lead">
              <%= @room.amenities %>
              <br><br>
            </p>
    </div>
    <div class="row">
        <p class="lead">
            <%= link_to "Book now at #{@room.price}", new_room_booking_path(@room.id), class:"btn btn-success btn-lg" %>
        </p>
    </div>
    <div class="row">
        <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_room_path(@room) %> |
        <%= link_to 'Back', rooms_path %>
        <% end %>
    </div>
</div>

