<% if user_signed_in?%>
    <%if current_user.admin?%>
        <div class="nav">
            <ul class="nav nav-tabs">
                <li class="<%= current_page?(dashboard_path) ? 'active': ''%>"><%= link_to "Dashboard", dashboard_path %></li>
                <li  class="<%= current_page?(bookings_path) ? 'active': ''%>"role="presentation"><%= link_to "Bookings", bookings_path %></li>
                <li  class="<%= current_page?(admin_path) ? 'active': ''%>"role="presentation"><%= link_to "Admin", admin_path %></li>
                <li  class="<%= current_page?(blog_path) ? 'active': ''%>"role="presentation"><%= link_to "Blog", blog_path %></li>
                <li  class="<%= current_page?(accounts_path) ? 'active': ''%>"role="presentation"><%= link_to "Users", accounts_path %></li>
                <li  class="<%= current_page?(support_path) ? 'active': ''%>"role="presentation"><%= link_to "Support", support_path %></li>
            </ul>
        </div>
    <% end %>
<% end %>
