<div class="card-deck py-5 mx-2 d-block d-lg-none">
  <div class="card">
    <%= image_tag("partuma_side.jpeg", style: "max-width: 100%;")%>
    <div class="card-body">
      <h4 class="card-title">
        Host your event with us
        </h4>
        <p class="card-text">
          Rent out our venues and equipment for your event. We host weddings, birthdays and any kind of celebrations.
        </p>
        <%= link_to "See Venue Gallery", venues_path, class: "card-link"%>
    </div>
  </div>

  <div class="card">
    <%= image_tag("bed-3.jpeg", style: "max-width: 100%;")%>
    <div class="card-body">
      <h4 class="card-title">
        Our top-of-the-range rooms
        </h4>
        <p class="card-text">
          Relax in our suites for a day or more, enjoy our multiple amenities and comfort.
        </p>
        <%= link_to "Book a Room", rooms_path, class: "card-link"%>
    </div>
  </div>

  <div class="card">
    <%= image_tag("chef.jpg", style: "max-width: 100%;")%>
    <div class="card-body">
      <h4 class="card-title">
        Restaurant &amp; Jazz Lounge
      </h4>
      <p class="card-text">
        Enjoy a mix of jazz and local genres with friends in our jazz lounge. We offer the best food from our top chef while you relax.
      </p>
    </div>
  </div>
</div>


<div class="py-5 mx-2 guests">
  <div class="text-center">
    <h2 class="text-warning">
      What our guests say about us
    </h2>
    <div class="mx-4">
      <hr/>
    </div>
  </div>
  <div class="py-4 text-center">
    <h4 class="text-muted">
      Lerato Majavu
    </h4>
    <div class="py-2">
      <% for i in 1..5 do%>
        <span class="text-warning mx-2 fa fa-star fa-1x">
        </span>
        <% i%>
      <% end %>
    </div>
    <p class="card-text">
    Partuma Lodge Isa very nice peaceful place for weddings ,parties. It is a one stop show and caters for all your needs.
    Plenty rooms to sleep over and for your wedding guest to sleep after enjoying  instead of driving.</p>
  </div>
  <div class="py-4 text-center">
    <h4 class="text-muted">
      Tebogo Tau
    </h4>
    <div class="py-2">
      <% for i in 1..5 do%>
        <span class="text-warning mx-2 fa fa-star fa-1x">
        </span>
        <% i%>
      <% end %>
    </div>
    <p class="card-text">
    Has a spacious indoor and outdoor setup.  Vibrant. A good place to host events.
    </p>
  </div>
</div>

<div class="mx-2 text-center call-us">
  <h2 class="text-warning">
    Call us or come visit
  </h2>
    <div class="mx-4">
      <hr/>
    </div>
  <p class="text-warning py-4">
    <strong> Call us:</strong>
    <br/>
    +27 56 817 1123
  </p>
  <p class="text-warning">
    <strong> Email us:</strong>
    <br/>
        partuma.lodge@gmail.com
  </p>  
  <p class="text-warning pb-5">
    <strong> Address:</strong>
    <br/>
    2 Schochet St<br/>
    Parys Industria, Parys<br/>
    9585<br/>
    South Africa
  </p>  
</div>

