<div class="card-deck py-5 mx-2">
  <div class="card">
    <%= image_tag("partuma_side.jpeg", style: "max-width: 100%;")%>
    <div class="card-body">
      <h4 class="card-title">
        Venues for your celebrations
        </h4>
        <p class="card-text">
          Rent out our venues and equipment for your event. We host weddings, birthdays and any kind of celebrations.
        </p>
        <%= link_to "See Venue Gallery", root_path, class: "card-link"%>
    </div>
  </div>

  <div class="card">
    <%= image_tag("bed-3.jpeg", style: "max-width: 100%;")%>
    <div class="card-body">
      <h4 class="card-title">
        Our top-of-the-range rooms
        </h4>
        <p class="card-text">
          Relax in our suites for a day or more, enjoy our multiple amenities and comfort.
        </p>
        <%= link_to "Book a Room", root_path, class: "card-link"%>
    </div>
  </div>

  <div class="card">
    <%= image_tag("chef.jpg", style: "max-width: 100%;")%>
    <div class="card-body">
      <h4 class="card-title">
        Restaurant &amp; Jazz Lounge
      </h4>
      <p class="card-text">
        Enjoy a mix of jazz and local genres with friends in our jazz lounge. We offer the best food from our top chef while you relax.
      </p>
    </div>
  </div>
</div>


<div class="py-5">
  <div class="text-center">
    <h2 class="text-warning">
      What our guests say about us
    </h2>
  </div>
</div>

