<!-- Hero Section -->
<div class="container bg-img-hero space-2 space-3-top--md" style="background-image: url(<%= image_path("shape4.svg")%>);">
  <div class="w-md-80 text-center mx-md-auto mb-9">
    <%= image_tag("logo-blur.png", class: "img-fluid rounded")%>
    <h3 class="h3">Partuma, Parys</h3>
    <h1 class="display-2 font-size-48--md-down text-primary font-weight-medium">
      Luxury stay, for less
    </h1>
  </div>

  <div class="w-md-80 w-lg-60 text-center mx-md-auto">
    <div class="mb-9">
      <p class="lead text-dark font-weight-normal">
        We host your events and provide accommodation in Parys while you are on holiday. 
        Stay entertained by our Jazz lounge and exotic local cuisine.
      </p>
    </div>

    <div class="mb-9">
      <span class="d-block text-secondary">Scheduled for</span>
      <p class="h3 text-dark">Open now</p>
      <span class="d-block text-purple">All day</span>
    </div>

    <button type="button" class="btn btn-primary btn-wide">Explore Now</button>
  </div>
</div>
<!-- End Hero Section -->
<!-- SVG Element -->
<div class="text-center space-2-bottom mx-auto">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="5px" height="149px"
     viewBox="0 0 3 149" xml:space="preserve">
    <path fill="#151b26" d="M1.5,149L1.5,149c-0.8,0-1.5-0.7-1.5-1.5l0-146C0,0.7,0.7,0,1.5,0h0C2.3,0,3,0.7,3,1.5v146C3,148.3,2.3,149,1.5,149z"/>
  </svg>
</div>
<!-- End SVG Element -->
    <!-- Popular Foods Section -->
    <div id="contentSection" class="container">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <span class="d-block text-purple font-weight-medium text-uppercase">Our services</span>
        <h2 class="h1 font-weight-medium text-capitalize">Events are our speciality</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-sm-6 col-lg-6 mb-5 mb-lg-0 lift">
          <!-- Product -->
          <a class="card card-shadow bg-img-hero border-0 gradient-overlay-half-dark-v2 min-height-320 text-white rounded-pseudo p-3 h-100" href="#" style="background-image: url(<%= image_path("partuma_side.jpeg") %>);">
            <div class="mt-auto">
              <span class="h5 font-weight-medium text-uppercase">Host your event with us</span>
              <p class="text-white mb-2">
                Rent out our venues and equipment for your event. We host weddings, birthdays and any kind of celebrations.
              </p>
            </div>
          </a>
          <!-- Emd Product -->
        </div>

        <div class="col-sm-6 col-lg-6 mb-5 mb-lg-0 lift">
          <!-- Product -->
          <a class="card card-shadow bg-img-hero border-0 gradient-overlay-half-dark-v2 min-height-320 text-white rounded-pseudo p-3 h-100" href="#" style="background-image: url(<%= image_path("bed-3.jpeg")%>);">
            <div class="mt-auto">
              <span class="h5 font-weight-medium text-uppercase">Luxurious rooms</span>
              <p class="text-white mb-2">Peaceful and top-of-the range rooms</p>
            </div>
          </a>
          <!-- Emd Product -->
        </div>
      </div>
    </div>
    <!-- End Popular Foods Section -->

<!-- Menu -->
<div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9 mt-9">
  <span class="d-block text-purple font-weight-medium text-uppercase">Our menu</span>
  <h2 class="h1 font-weight-medium text-capitalize">Taste this</h2>
</div>
<!-- End Menu -->
<!-- Contacts Section -->
<div class="position-relative">
  <div class="container space-2 space-3--lg">
    <div class="w-md-65 w-lg-40 mx-md-auto">
      <div class="text-center mb-9">
        <h3 class="h1 font-weight-medium text-capitalize">Contact Us</h3>
      </div>

      <dl class="row">
        <dt class="col-7">Working Hours</dt>
        <dd class="col-5 text-right"></dd>
        <dt class="col-7 font-weight-normal">Sunday to Monday</dt>
        <dd class="col-5 text-right">00:00 - 23:00</dd>
        <dt class="col-7 font-weight-normal">Address</dt>
        <dd class="col-5 text-right">
          2 Schochet St<br/>
          Parys Industria, Parys<br/>
          9585<br/>
          South Africa
        </dd>

        <dt class="col-7">Reach us</dt>
        <dd class="col-5 text-right"></dd>
        <dt class="col-7 font-weight-normal">Call us</dt>
        <dd class="col-5 text-right">
          +27 56 817 1123
        </dd>
        <dt class="col-7 font-weight-normal">Email</dt>
        <dd class="col-5 text-right">
          partuma.lodge@gmail.com
        </dd>
      </dl>
    </div>

    <div class="d-none d-sm-block position-absolute-top-right-0 w-20">
      <%= image_tag("img9.png", class: "img-fluid", alt: "partuma-contacts")%>
    </div>

    <div class="d-none d-sm-block position-absolute-bottom-left-0 w-35">
      <%= image_tag("img8.png", class: "img-fluid", alt: "partuma-contacts")%>
    </div>
  </div>
</div>
<!-- End Contacts Section -->
