<div class="container-fluid">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 main-dashboard">
        <div class="row hidden-xs">
            <%= render 'site/topbar' %> 
        </div>
        <div class="row">
            <div class="row">
                <h1 class="page-header">Bookings</h1>
            </div>  

            <div class="row">
                <table class="table table-bordered">
                    <tr>
                        <th>Room Name</th>
                        <th>Customer</th>
                        <th>Age</th>
                        <th>Check-in</th>
                        <th>Check-out</th>
                        <th>Adults</th>
                        <th>Children</th>
                        <th>Price</th>
                    </tr>
                    <% @bookings.each do |booking| %>
                        <tr>
                            <td><%= link_to "User here", "#" %></td>
                            <td><%= Account.find(booking.account_id).name %>&nbsp;&nbsp;<%= Account.find(booking.account_id).surname %></td>
                            <td><%= time_ago_in_words(User.find(booking.user_id).account.dob)%></td>
                            <td><%= booking.checkin_day%></td>
                            <td><%= booking.checkout_day%></td>
                            <td><%= booking.adults%></td>
                            <td><%= booking.children%></td>
                            <td><%= booking.children%></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
