<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="wrapper-row">
            <h1 class="rooms-header">Previous Events</h1>
        </div>
    </div>
                <br/>
                <br/>
    <% @posts.each do |post| %>
    <div class="row">
        <div class="media">
            <div class="media-left"></div>
            <div class="media-body">
                <h1 class="media-heading"><%= post.title %></h1>
                <p class="lead"><%= post.caption %></p>
                <%= link_to "View Post", post, class: "btn btn-default"%>
                <br/>
                <br/>
            </div>
        </div>
    <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                <br/>
                <br/>
    <% end %>
    </div>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
    <div class="row">
        <%= link_to 'Add a new blog post', new_post_path, class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>
</div>

