<div class="row" style="height: 200px;">
</div>

<div class="row footer">
	<div class="row">
				<div class="col-xs-offset-1 col-lg-offset-3 col-xs-6 col-sm-3 col-md-3 col-lg-2">
						<p class="footer-heading pull-left">GET INVOLVED</p><br /><br />
						<p class=""><%= link_to "Sign Up", new_user_registration_path, class: "text-white"%></p> 
						<p class=""><%= link_to "Invite a Friend", new_user_registration_path, class: "text-white"%></p> 
				</div>
				<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
						<p class="footer-heading">COMPANY</p>
						<p><%= link_to "About Us" ,about_path,  class: "text-white"%></p>
						<p><%= link_to "Blog" ,root_path,  class: "text-white"%></p>
						<p><%= link_to "Contact" ,contact_path,  class: "text-white"%></p>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-5 col-md-5 col-lg-4">
						<p class="footer-heading">SOCIAL</p>
						<a href="https://www.facebook.com"><span class="fa fa-facebook fa-3x"></span></a>
						<a href="https://www.instagram.com"><span class="fa fa-instagram fa-3x"></span></a>
						<a href="https://www.linkedin.com"><span class="fa fa-linkedin fa-3x"></span></a>
						<a href="https://www.twitter.com"><span class="fa fa-twitter fa-3x"></span></a>
						<br/>
						<br/>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-2 col-md-2 col-lg-0">
				</div>
				<br>
				<br>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-sm-offset-1  col-xs-11 col-sm-8 col-md-8 col-lg-offset-3 col-lg-6">
						<p class="text-white ">&copy; 2018 Partuma Lodge</p>		
						<p class=""><%= link_to "Privacy Policy", root_path, class: "text-white" %>&nbsp;|&nbsp; <%= link_to "Terms of Use", root_path, class: "text-white"%></p>
		</div>
	</div>
</div>
