<!DOCTYPE html>
<html>
  <head>
    <title>Partuma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91400897-3"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-91400897-3');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(root_path)%>
        <div class="row index-0">

            <%= render 'layouts/header' %>

            <div class="row text-center">
                <h1 class="index-header">Partuma Lodge</h1>
                <p class="index-par">Stay with us, let us host you.</p>
            </div>

            <div class="row div-btn text-center">
                <%= link_to "Book our rooms", rooms_url, class: "btn btn-success btn-lg"%>&nbsp;&nbsp;
                <%= link_to "Available Venues", rooms_url, class: "btn btn-default btn-lg"%>
            </div>
        </div>

        <%= yield %>

        <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/header' %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
