<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Accommodation & Venues in Parys'%>
      | Partuma
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script data-ad-client="ca-pub-1920589604933146" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name='description' content='<%= yield_meta_tag(:description, 'Parys accommodation & Venue') %>' />
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'Parys lodge, venues for weddings, venues for parties, venues for birthdays, accommodation, Parys') %>' />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91400897-3"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-91400897-3');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(about_path) || current_page?(contact_path)%>
      <div class="about">
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    <% else %>
      <%= render 'layouts/header' %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
