<div class="container-fluid">
    <div class="row col-sm-11 col-md-11 col-lg-11 main-dashboard">
        <div class="row">
            <%= render "site/topbar"%>
        </div>

        <div class="row">
            <h2 class="page-header text-muted">Users</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Created Date</th>
                </tr>
                <% @users.each do |user|%>
                    <tr>
                        <td><%= link_to user.id, "#"%></td>
                        <td><%= user.account.name%></td>
                        <td><%= user.account.surname%></td>
                        <td><%= user.email%></td>
                        <td><%= user.created_at.strftime("%d, %B, %Y")%></td>
                    </tr>
                <% end %>
            </table>
        </div>
        <div class="row">
            <h2 class="page-header text-muted">Visits</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>user id</th>
                    <th>IP</th>
                    <th>referring_domain</th>
                    <th>browser</th>
                    <th>device_type</th>
                    <th>city</th>
                    <th>Country</th>
                </tr>
                <% @visits.each do |user|%>
                    <tr>
                        <td><%= user.id%></td>
                        <td><%= link_to user.user_id, "#"%></td>
                        <td><%= user.started_at.strftime("%d, %B, %H:%M %P")%></td>
                        <td><%= user.ip%></td>
                        <td><%= user.referring_domain %></td>
                        <td><%= user.browser%></td>
                        <td><%= user.device_type %></td>
                        <td><%= user.city %></td>
                        <td><%= user.country %></td>
                    </tr>
                <% end %>
            </table>
            <%= will_paginate @visits, renderer: BootstrapPagination::Rails %>
        </div>
    </div>
</div>
            
